<div>
    <a href="#">
        <fa-icon style="color: black;"   [icon]="faFacebookF"></fa-icon>
    </a>
    <br><br>
    <a href="#">
        <fa-icon style="color: black;" [icon]="faTwitter"></fa-icon>
    </a>
    <br><br>
    <a href="#">
        <fa-icon style="color: black;" [icon]="faPinterestP"></fa-icon>
    </a>
    <br><br>
    <a href="#">
        <fa-icon style="color: black;" [icon]="faYoutube"></fa-icon>
    </a>
    <br><br>
    <a href="#">
        <fa-icon style="color: black;" [icon]="faInstagram"></fa-icon>
    </a>
</div>
