#backgroud{
    background-image: url(../../../assets/loginBackground.jpg);
    height: 90%;
    width: 100%;
    background-position: center;
    justify-content: center;
    display: flex;
}
#loginForm{
    position:relative;
    width: 300px;
    height: 500px;
    top: 20%;
    text-align: center;
}
#loginBtn{
    background-color: #ECF5F4;
    width: 100%;
    border-radius: 0;
    border: none;
}
input.ng-invalid.ng-touched{
    border: 2px solid red;
}